body{
  margin: 0px;
  max-height: 350px;
  height: 350px;
  width:  300px;
}

.title{
  background-image: linear-gradient(160deg,#3f657b, #163754 );
  margin: 0px;
  color: cornsilk;
  padding: 5%;

}

.main {
  position: relative;
  max-height: 350px;
  height: 350px;
  width:  300px;
  max-width: 300px;
  background-image: radial-gradient(#163754,#0e486a );
  color: whitesmoke;
  margin: 0;
}
button {
    outline: none;
    margin: 5%;
    border: 1px solid #000000;
    cursor: pointer;
    
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }
  button:active{
    opacity: 50%;
  }

.scan {
  position: relative;
  width: 90%;
  height: 30px;
  padding: 2px 2px;
  border-radius: 15px;
}
.add {
  height: 15px;
  width: 15px;
  box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  background: url("../public/icons/add-icon.svg") no-repeat center center;
  cursor: pointer;
  color: whitesmoke;
  padding: 0 0 0 0;
}

.InputContainer {
  position: relative;
  display: flex;
  margin: 1%;

}
#KeyWordsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width:100%;
  height: 150px;
  max-height: 150px;
  background-image: radial-gradient(#558dad, #063572) ;
  margin: 5% 0;
  align-content: flex-start;

 }
.chip{
  position: relative; 
  display: inline-flex;
  min-width: 50px;
  padding: 0 10px;
  height: 25px;
  font-size: 10px;
  line-height: 100%;
  border-radius: 7.5px;
  background-image: linear-gradient(#cccbcb, #828281);
  border: 1px solid #000000;
  align-content: flex-start;
  color: rgb(9, 6, 53);
  
}
.delete {
  position: relative;
  height: 15px;
  width: 15px;
  padding: 0 0 2px 0;
  border-radius: 50%;
  background-image: linear-gradient(#828281,#cccbcb);
  opacity: 75%;
  margin: 5px;
  font-size: 100%;
}
.delete:hover{
  background-image: linear-gradient(#515151,#4d4747);
}
.chipText {
  position: relative;
  padding: 7px 0px;
  text-align: center;
  max-height: 100%;
  overflow: hidden;
}

.TextInput{
  position: relative;
  height: 20px;
  border-radius: 10px;
  align-self: center;
  
}

label{
  align-self: center;
  margin: 0 2px;
}